body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #f1f1f1;
}

header {
    background-color: #08325e; 
    color: #fff;
    padding: 20px; 
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    margin: 0;
    font-size: 32px;
    text-transform: uppercase; 
}

h1 span {
    font-weight: bold;
}

.subtitle {
    font-size: 18px; 
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #01233d;    
}

.category-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.category-nav li {
    
    margin: 0 20px; 
}
.category-nav a {
    display: block;
    font-weight: 600;
    padding: 15px 60px;
    background-color: #01233d;
    border: none;    
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.category-nav a.active {
    background-color: #aeb3b8;
    color: #000000;
}

.category-nav a:hover {
    background-color: #aeb3b8;
    color: #000000;
}

.menu-toggle {
    display: none; 
    background-color: #01233d;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;    
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; 
    padding: 10px;
    width: 100%; 
    box-sizing: border-box;
}

#search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px; 
    width: 70%; 
    box-sizing: border-box;
    border-right: none; 
    height: 40px; 
}

#search-btn {
    background-color: #01233d;
    color: white;
    border: 1px solid #01233d;
    border-radius: 0 5px 5px 0; 
    cursor: pointer;
    padding: 0 20px; 
    font-size: inherit;
    box-sizing: border-box;
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
#search-btn:hover {
    background-color: #aeb3b8;
}

.source-icon {
    width: 80px; 
    height: 50px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    min-width: 80px; 
    min-height: 50px; 
}

.news-item {
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #01233d;
    border-radius: 5px;
    display: flex;
    background-color: #e0e5eb;
    
}
.news-item h3 {
    margin: 0;
}
.news-item .muted {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #999;
    font-size: 0.9em;
}
.news-content {
    flex: 1;
    overflow: hidden; 
    word-wrap: break-word;
}


.menu-toggle.active i::before {
    content: '\f00d';
}

@media (max-width: 760px) {
    .search-container {
        flex-direction: row; 
        justify-content: center;
    }

    #search-input {
        width: calc(100% - 60px); 
    }

    #search-btn {
        width: 60px; 
        padding: 0; 
    }    
    .nav-container {
        align-items: start;
    }
    .category-nav {
        display: none; 
        flex-direction: column;
        width: 100%;
    }

    .category-nav.show {
        display: flex; 
    }

    .menu-toggle {
        display: flex; 
        order: 1;
    }

    .category-nav li {
        margin: 0; 
    }

    .category-nav a {        
        text-align: center; 
    }
}
